<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Add Product</title>
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/edit-product">Add Product</a></li>
                <li class="main-header__item"><a href="/contact/contactus">Contact Us</a></li>
                <li class="main-header__item"><a href="/add-to-cart">product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <h1 id="pageTitle">{{page.Title}}</h1>
            <form action="/add-to-cart" method="post">
                <input type="text" name="productID" value="{{product.id}}">
                <!-- <input type="number" name="totalPrice" value=""> -->
                <button type="submit">add to cart</button>
            </form>
        </div>
    </main>
</body>

</html>